*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
.ml-5 {
    margin-left: 5px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.pd-10 {
    padding: 10px 0;
}
.mg-10{
    margin: 10px 0;
}
.mt-50{
    margin-top: 40px;
    margin-left: 15%;
}
.mt-40{
    margin-top: 20px;
    margin-left: 15%;
}